@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import "reset.css";
@import "variables.css";
@import "common-classes.css";

/* CSS  */
@import "css/header.css";
@import "css/header-nav.css";

h1 {
    font-family: var(--font-koreanisch);
}

body {
    width: 100vw;
    height: 100vh;
}
